body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size:18px;
    color:#444;
    padding: 0 10px
}

h1 {
    font-size: 400%;
    line-height: 1.2;
}

h2 {
    font-size: 200%;
    line-height: 1.2;
    padding-top: 30px;
    padding-bottom: 10px;
}

p {
    margin-top: 20px;
}

.widget {
    width: 100%;
    padding-top: 10px;
}

.widget-element {
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}

.progress-bar {
    width: 100%;
}

.progress {
    width: 0%;
    height: 20px;
    background: #07a;
}

.spinning-wheel {
    width: 92px;
    height: 92px;
    border-left: 20px solid #07a;
    border-right: 20px solid #00000000;
    border-top: 20px solid #00000000;
    border-bottom: 20px solid #00000000;
    border-radius: 112px;
    animation: spinning 0.5s infinite;
    animation-timing-function: linear;
}

.gif-js-opts {
    display: flex;
    flex-flow: row wrap;
}

.gif-js-opts > div {
    margin: 4px;
}

.canvas-size-input {
    width: 50px;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
